/* cloudsolar dashboard 1.0 */

/* NAVIGATION */
#brand-logo { /*remove after header updated*/
	height:20px; 
	width:auto;
}
#sunport-mark{
	height:40px;
	width:auto;
	display:inline;
	margin:-10px 0 0 0;
}
#sunport-logo {
	height:20px;
	width:auto;
	display:inline;
	margin:-10px 0 0 10px;
}
@media only screen and (max-width : 767px) {
	#sunport-logo{
		position:absolute;
		left: calc(50% - 57px); /*this assumes a logo height of 20px and width of 113px*/
		top:24px;
	}
}
	
.navbar-inverse { background-color: #FEC80A}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { text-decoration:underline;color:#080808;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #DEAF09}
.dropdown-menu { background-color: #FEC80A}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #DEAF09}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #DEAF09}
.navbar-inverse .navbar-brand { color: #353535}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #353535;text-transform:uppercase;font-weight:600;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #080808;text-decoration:underline;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #353535}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #353535}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #ffffff}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #353535}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #080808}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #353535}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #080808}
.navbar-inverse .navbar-toggle {border-color:transparent;background-color:transparent;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {border-color:transparent;background-color:transparent;}
.navbar-inverse .navbar-toggle .icon-bar {background-color:#353535;transform-origin: left center;}
.navbar-inverse .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2){ transform: rotate(45deg) translate(0, -2.1px);}
.navbar-inverse .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3){ width: 0%;opacity: 0;}
.navbar-inverse .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(4){ transform: rotate(-45deg) translate(0,2.1px);}




/* HEADER */

.header {
	margin-top:50px;
	background-color:#fcc630;
	z-index:100;
	display:block;
}
.btn-branded {
	background-color:#333;
	color:#fff;
	font-weight:bold;
}
.btn-branded:focus, .btn-branded:hover {
	color:#fff;
}
#search {
	max-width:50%;
	margin:auto;
	margin-bottom:30px;
}
/* BODY */

#actions {
	margin-top:15px;
	margin-bottom:15px;
}
.pagination {
	margin:0;
}
.header{
	background-color:#353535;
	color:#fff;
	border:none;
	padding-top: 15px;
	padding-bottom: 15px;
}
body{
	background-color:#434343;
}
body p{
	color:#999;
}
body a{
	color:#fff;
}
body a:hover{
	color:#fff;
	text-decoration:underline;
}
.btn-primary{background-color:#d12329;border-color:#af1924;text-transform:uppercase;}
.btn-primary:hover, .btn-primary:focus{background-color:#af1924;border-color:#af1924;}
.btn.btn-primary.disabled{background-color:transparent;border-color:#333;}

.btn-default{background-color:#353535;border:1px solid #353535;text-transform:uppercase;color:#fff;}
.btn-default:hover, .btn-default:focus{background-color:#fec80a;border: 2px solid #deaf09;color:#353535;}
.btn.btn-default.disabled{background-color:transparent;border-color:#353535;color:#353535;}

/* FOOTER */

#footer {
	background-color:transparent;
	padding-top:15px;
	padding-bottom:15px;
	margin-top:30px;

}
#footer p {
	margin:0px;
}

/* Login Form */
.login {
	background-color:#fcc630;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
@media only screen and (min-width : 992px) {
	.form-signin {
	  margin-top:100px;
	}
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.message-content {
	background-color:white;
	padding:5px;
	height:100%;
}


.best-value{
	width: 60px;
	height: 60px;
	position: absolute;
	right: -2px;
	top: -2px;
	background-image: url("best-value.png");
	background-size: contain;
}
.recommended-banner{
	width: 70px;
	height: 70px;
	position: absolute;
	right: -2px;
	top: -2px;
	background-image: url("best-value2.png");
	background-size: contain;
}

.alert{
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 5px solid;
}




/* my devices page */

.devices-row{
	padding-top:30px;
}
.device-box{
	border: 1px solid #999;
	border-style:none none solid none;
	padding:0 15px;
	color:#fff;
	position:relative;
	height:85px;
}
.device-box h3{
	margin:15px 0 10px 0;
	font-size:20px;
	font-weight:600;
}
.device-box p{
	margin:0;
	font-size:12px;
	font-weight:600;
}
.device-icon {
	display:inline-block;
	width:60px;
	padding:10px 15px 10px 0;
}
.device-icon > img{
	max-width:100%;
	height:auto;
}
.device-name{
	position:absolute;
	top:0;
	left:75px;
	width:25%;
}
.device-use{
	position:absolute;
	top:0;
	right:50%;
	text-align:right;
	padding-right:15px;
}
.device-plan{
	position:absolute;
	top:0;
	right:15%;
	width:25%;
	padding:15px;
}
@media only screen and (max-width : 991px) {
	.device-plan{right:20%;width:30%;}
}
.device-plan p{
	color:#fff;
}
.device-cta{
	position:absolute;
	top:0;
	right:0;
	width:15%;
	padding-top:15px;
}
.device-cta .btn{
	float:right;
	font-size:11px;
	font-weight:800;
	padding-left:24px;
	padding-right:24px;
	margin-bottom:24px;
}
.device-cta .btn:hover{
	transform:scale(1.1,1.1);
}

#change-all{
	float:right;
	margin-right:16px;
	font-size:11px;
	font-weight:800;
	padding-left:24px;
	padding-right:24px;
	margin-top:15px;
	transform:scale(1.1,1.1);
}

@media only screen and (max-width : 768px) {
	.devices-row{
		padding-top:15px;
	}
	.device-box{
		height:102px;
	}
	.device-box h3{
		margin:10px 0 5px 0;
		font-size:16px;
	}
	.device-box p{
		font-size:10px;
	}
	.device-icon {
		position:absolute;
		top:0;
		left:0;
		width:60px;
		padding:10px 15px 10px 0;
	}
	.device-name{
		position:absolute;
		top:0;
		left:60px;
		width:60%;
	}
	.device-use{
		position:absolute;
		top:0;
		right:0;
		text-align:right;
		width:40%;
	}
	.device-plan{
		position:absolute;
		bottom:0;
		left:60px;
		width:60%;
		padding:0;
		margin-top:64px;
	}
	.device-cta{
		position:absolute;
		right:0;
		bottom:0;
	}
	.device-cta .btn{
		margin-top:49px;
		padding-left:15px;
		padding-right:15px;
		
	}
	#change-all{
		float:none;
		margin:15px;
	}
}




/* Pricing Tables */
.plan-row{
	padding-top:30px;
}
.plan-box{
	border: 1px solid #999;
	border-radius:15px;
	text-align:center;
	padding:0 15px;
	color:#fff;
}
.w1 {
	height:40px;
	margin-left:-15px;
	margin-right:-15px;
	border-radius: 15px 15px 0 0;
}
.w1.active{
	background-color: #fec80a;
	color:#353535;
	font-weight:600;
}
#tag-v{
	font-size:20px;
	padding-top:6px;
	color:#353535;
	
}
#tag-r{
	font-size:14px;
	color:#353535;
}
.plan-name{
	font-size:18px;
	font-weight:600;
	padding: 12px 0;
}
.plan-size{
	font-size:11px;
	padding: 12px 0;
}
.plan-size > span{
	color:#fec80a;
	font-size:32px;
	font-weight:800;
	display:block;
}
.plan-detail{
	text-align:left;
	color:#999;
	display:inline-block;
	margin:auto;
	padding: 12px 0;
}
.plan-cost{
	font-size:28px;
	font-weight:800;
	padding: 12px 0;
}
.plan-cta{
	padding: 12px 0;
}
.plan-cta .btn{
	font-size:11px;
	font-weight:800;
	padding-left:24px;
	padding-right:24px;
	margin-bottom:24px;
}
.plan-cta .btn:hover{
	transform:scale(1.1,1.1);
}

@media only screen and (max-width : 768px) {
	.plan-row{
		padding-top:15px;
	}
	.plan-box{
		border-style:none none solid none;
		border-radius:0px;
	}
	.w1{
		position:absolute;
		top:10px;
		left:0px;
		bottom:10px;
		width:20%;
		border-radius:0;
		height:auto;
		margin:0;
	}
	.w1 > p{
		width:180px;
		height:30px;
		padding-left:10px;
		padding-right:10px;
		font-size:12px;
		line-height:1.1;
		transform: rotate(-90deg) translate(0,-170px);
		transform-origin:right top;
	}
	#tag-v{
		padding-top:10px;
	}
	#tag-r{
		
	}
	.w2{
		position:relative;
		top:0px;
		left:20%;
		width:55%;
		text-align:left;
	}
	.w3{
		position:absolute;
		top:0px;
		left:75%;
		right:0px;
		bottom:10px;
		text-align:right;
		padding-right:15px;
	}
	.plan-name{
		padding:10px 0;
	}
	.plan-size{
		padding: 0;
	}
	.plan-size > span{
		font-size:22px;
		display:inline;
	}
	.plan-detail{
		padding: 10px 0;
	}
	.plan-cost{
		font-size:18px;
		padding: 10px 0 5px 0;
	}
	.plan-cta .btn{
		position:absolute;
		right:0px;
		bottom:0px;
		margin-bottom:0px;
		padding-left:12px;
		padding-right:12px;
	}
	.plan-cost-detail{
		text-align:right;
		padding:0;
	}
}


/*==========  Mobile First Method  ==========*/

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

